src/test/xml/wsdl-suite/multiple-namespaces.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://eaxy.org/service" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xs:schema targetNamespace="http://eaxy.org/schema/base"
	        elementFormDefault="qualified"
			xmlns:tns="http://eaxy.org/schema/base">
			<xs:complexType name="Parameters">
				<xs:sequence>
					<xs:element name="RequestId" type="xs:string" minOccurs="0"></xs:element>
					<xs:element name="ClientId" type="xs:string" minOccurs="1"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="Parameters" type="tns:Parameters"></xs:element>
		</xs:schema>
		<xs:schema targetNamespace="http://eaxy.org/service"
	        elementFormDefault="qualified"
			xmlns:base="http://eaxy.org/schema/base">
			<xs:import namespace="http://eaxy.org/schema/base"></xs:import>
			<xs:element name="Request">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="base:Parameters">
							<xs:sequence>
								<xs:element name="Query" type="xs:string" />
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Response" type="xs:int" />
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="ExampleRequest">
		<wsdl:part name="parameters" element="tns:Request" />
	</wsdl:message>
	<wsdl:message name="ExampleResponse">
		<wsdl:part name="parameters" element="tns:Response" />
	</wsdl:message>

	<wsdl:portType name="ExampleService">
		<wsdl:operation name="MyOp">
			<wsdl:input message="tns:ExampleRequest" />
			<wsdl:output message="tns:ExampleResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="EaxyExampleService" type="tns:ExampleService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="MyOp">
			<soap:operation soapAction="MySoapOperation" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ExampleServicePort">
		<wsdl:port name="EaxyExampleService" binding="tns:EaxyExampleService">
			<soap:address location="http://localhost/soap/EaxyExampleService.svc" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
